openapi: 3.0.2
info:
  title: BrowserStack Test Reporting & Analytics (TestReporting)
  version: 1.0.0
  description: API for BrowserStack Test Reporting & Analytics
servers:
  - url: https://api-automation.browserstack.com/ext/v1
security:
  - basicAuth: []
paths:
  /projects:
    get:
      tags: [TestReporting]
      summary: Get Project List
      operationId: getTestReportingProjects
      x-cli-section: "Projects"
      x-cli-display: [id, name, updated_at, observability_url]
      parameters:
        - name: next_page
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /projects/{projectId}/builds:
    get:
      tags: [TestReporting]
      summary: Get Build List for Project
      operationId: getTestReportingProjectBuilds
      x-cli-section: "Projects"
      x-cli-display: [build_id, name, status, started_at, finished_at]
      parameters:
        - name: projectId
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: id
            labelFields: [id, name]
          in: path
          required: true
          schema: { type: integer }
        - name: unique_build_names
          in: query
          schema: { type: string }
        - name: build_tags
          in: query
          schema: { type: string }
        - name: build_status
          in: query
          schema: { type: string, enum: [passed, failed, unknown, skipped, running] }
        - name: users
          in: query
          schema: { type: string }
        - name: frameworks
          in: query
          schema: { type: string }
        - name: is_archived
          in: query
          schema: { type: boolean }
        - name: date_range
          in: query
          schema: { type: string }
        - name: next_page
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  builds:
                    type: array
                    items:
                      $ref: '#/components/schemas/BuildSummary'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /builds/start:
    post:
      tags: [TestReporting]
      summary: Start Build (ingestion)
      operationId: startTestReportingBuild
      x-cli-section: "Builds"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBuildRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  build_hashed_id: { type: string }

  /builds/latest:
    get:
      tags: [TestReporting]
      summary: Get Latest Build
      operationId: getTestReportingLatestBuild
      x-cli-section: "Builds"
      parameters:
        - name: project_name
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: query
          required: true
          schema: { type: string }
        - name: build_name
          in: query
          schema: { type: string }
        - name: user_name
          in: query
          schema: { type: string }
        - name: build_tags
          in: query
          schema: { type: string }
        - name: framework
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildDetails'

  /builds/{buildId}:
    get:
      tags: [TestReporting]
      summary: Get Build Details
      operationId: getTestReportingBuild
      x-cli-section: "Builds"
      parameters:
        - name: buildId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
            filterBy: [projectId]
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildDetails'
    patch:
      tags: [TestReporting]
      summary: Update Build Metadata
      operationId: updateTestReportingBuild
      x-cli-section: "Builds"
      parameters:
        - name: buildId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
            filterBy: [projectId]
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                build_tags:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }

  /builds/{buildHashedId}/finish:
    put:
      tags: [TestReporting]
      summary: Finish Build (ingestion)
      operationId: finishTestReportingBuild
      x-cli-section: "Builds"
      parameters:
        - name: buildHashedId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [finished_at]
              properties:
                finished_at: { type: string, format: date-time }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }

  /builds/{buildHashedId}/tests/start:
    post:
      tags: [TestReporting]
      summary: Start Test Run (ingestion)
      operationId: startTestReportingTestRun
      x-cli-section: "Test Runs"
      parameters:
        - name: buildHashedId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartTestRunRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  uuid: { type: string }

  /builds/{buildHashedId}/tests/{testRunUuid}/finish:
    put:
      tags: [TestReporting]
      summary: Finish Test Run (ingestion)
      operationId: finishTestReportingTestRun
      x-cli-section: "Test Runs"
      parameters:
        - name: buildHashedId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
          in: path
          required: true
          schema: { type: string }
        - name: testRunUuid
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishTestRunRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }

  /builds/{buildHashedId}/hooks/start:
    post:
      tags: [TestReporting]
      summary: Start Hook Run (ingestion)
      operationId: startTestReportingHookRun
      x-cli-section: "Hook Runs"
      parameters:
        - name: buildHashedId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartHookRunRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  uuid: { type: string }

  /builds/{buildHashedId}/hooks/{hookRunUuid}/finish:
    put:
      tags: [TestReporting]
      summary: Finish Hook Run (ingestion)
      operationId: finishTestReportingHookRun
      x-cli-section: "Hook Runs"
      parameters:
        - name: buildHashedId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
          in: path
          required: true
          schema: { type: string }
        - name: hookRunUuid
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishHookRunRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }

  /builds/{buildHashedId}/logs:
    post:
      tags: [TestReporting]
      summary: Add Build Logs (ingestion)
      operationId: addTestReportingBuildLogs
      x-cli-section: "Builds"
      parameters:
        - name: buildHashedId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [logs]
              properties:
                logs:
                  type: array
                  maxItems: 500
                  items:
                    $ref: '#/components/schemas/BuildLog'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }

  /builds/{buildId}/testRuns:
    get:
      tags: [TestReporting]
      summary: Get Test List
      operationId: getTestReportingTestRuns
      x-cli-section: "Test Runs"
      x-cli-display: [name, status, duration]
      parameters:
        - name: buildId
          x-cli-picker:
            source: test-reporting.list-project-builds
            valueField: hashed_id
            labelFields: [hashed_id, name, status]
            filterBy: [projectId]
          in: path
          required: true
          schema: { type: string }
        - name: re_runs
          in: query
          schema: { type: string }
        - name: test_statuses
          in: query
          schema: { type: string }
        - name: is_flaky
          in: query
          schema: { type: boolean }
        - name: is_new_failure
          in: query
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string, enum: [EXECUTION_ORDER, TOP_LEVEL_NAME, DURATION, FAILED_TEST, PLATFORM] }
        - name: order
          in: query
          schema: { type: string, enum: [Asc, Desc] }
        - name: next_page
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunsResponse'

  /builds/{buildUuid}/selfHealingReport:
    get:
      tags: [TestReporting]
      summary: Get Self-Healing Report
      operationId: getTestReportingSelfHealingReport
      x-cli-section: "Reports"
      parameters:
        - name: buildUuid
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  presigned_url: { type: string }
                  expires_at: { type: string, format: date-time }

  /quality-gates/{buildUuid}:
    get:
      tags: [TestReporting]
      summary: Get Quality Gate Status
      operationId: getTestReportingQualityGateStatus
      x-cli-section: "Quality Gate"
      parameters:
        - name: buildUuid
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityGateStatus'

  /quality-gates/{projectName}/settings:
    get:
      tags: [TestReporting]
      summary: Get Quality Gate Settings
      operationId: getTestReportingQualityGateSettings
      x-cli-section: "Quality Gate"
      parameters:
        - name: projectName
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityGateSettings'
    put:
      tags: [TestReporting]
      summary: Update Quality Gate Settings
      operationId: updateTestReportingQualityGateSettings
      x-cli-section: "Quality Gate"
      parameters:
        - name: projectName
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }

  /quality-gates/{projectName}/profiles:
    post:
      tags: [TestReporting]
      summary: Create Quality Gate Profile
      operationId: createTestReportingQualityGateProfile
      x-cli-section: "Quality Gate Profiles"
      parameters:
        - name: projectName
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityGateProfileRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  uuid: { type: string }

  /quality-gates/{projectName}/profiles/{profileUuid}:
    get:
      tags: [TestReporting]
      summary: Get Quality Gate Profile
      operationId: getTestReportingQualityGateProfile
      x-cli-section: "Quality Gate Profiles"
      parameters:
        - name: projectName
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: path
          required: true
          schema: { type: string }
        - name: profileUuid
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityGateProfile'
    put:
      tags: [TestReporting]
      summary: Update Quality Gate Profile
      operationId: updateTestReportingQualityGateProfile
      x-cli-section: "Quality Gate Profiles"
      parameters:
        - name: projectName
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: path
          required: true
          schema: { type: string }
        - name: profileUuid
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityGateProfileRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  uuid: { type: string }
    delete:
      tags: [TestReporting]
      summary: Delete Quality Gate Profile
      operationId: deleteTestReportingQualityGateProfile
      x-cli-section: "Quality Gate Profiles"
      parameters:
        - name: projectName
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: path
          required: true
          schema: { type: string }
        - name: profileUuid
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }

  /quality-gates/{projectName}/profiles/{profileUuid}/toggle:
    put:
      tags: [TestReporting]
      summary: Toggle Quality Gate Profile
      operationId: toggleTestReportingQualityGateProfile
      x-cli-section: "Quality Gate Profiles"
      parameters:
        - name: projectName
          x-cli-picker:
            source: test-reporting.list-projects
            valueField: name
            labelFields: [name]
          in: path
          required: true
          schema: { type: string }
        - name: profileUuid
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }

  /upload:
    post:
      tags: [TestReporting]
      summary: Upload Test Reports (JUnit or Allure)
      operationId: uploadTestReportingReport
      x-cli-section: "Reports"
      x-base-url: sdkCloud
      x-request-transform:
        codec: multipart
        config:
          fileField: data
          filenameFrom: "$.file_name"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, project_name, build_name]
              properties:
                file:
                  type: string
                  format: binary
                  description: "JUnit XML file or zip archive containing multiple XML files (max 100 MB)"
                file_name:
                  type: string
                  description: "Override the uploaded file's name"
                project_name:
                  type: string
                  description: "Project name to associate this build with"
                build_name:
                  type: string
                  description: "Build name for this test run"
                format:
                  type: string
                  enum: [junit, allure]
                  default: junit
                  description: "Report format"
                build_identifier:
                  type: string
                  description: "Unique identifier to correlate split or re-run uploads (expires after 6 hours)"
                tags:
                  type: string
                  description: "Comma-separated tags (e.g. 'regression, nightly')"
                ci:
                  type: string
                  description: "CI job URL (e.g. 'https://ci.example.com/builds/42')"
                framework_version:
                  type: string
                  description: "Framework name and version (e.g. 'junit, 5.8')"
                version_control:
                  type: object
                  description: "Git/version-control metadata for this build"
                  properties:
                    sha:
                      type: string
                      description: "Commit SHA"
                    short_sha:
                      type: string
                      description: "Short commit SHA"
                    branch:
                      type: string
                      description: "Branch name"
                    tag:
                      type: string
                      description: "Git tag"
                    commit_message:
                      type: string
                      description: "Commit message"
                    committer_name:
                      type: string
                      description: "Committer name"
                    committer_email:
                      type: string
                      description: "Committer email"
                    author_name:
                      type: string
                      description: "Author name"
                    author_email:
                      type: string
                      description: "Author email"
                    committed_at:
                      type: string
                      description: "Commit timestamp"
                    remote_url:
                      type: string
                      description: "Remote repository URL"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  message: { type: string }

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    Pagination:
      type: object
      properties:
        has_next: { type: boolean }
        next_page: { type: string }

    Project:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        group_id: { type: integer }
        created_by: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        observability_url: { type: string }

    StatusStats:
      type: object
      properties:
        passed: { type: integer }
        failed: { type: integer }
        pending: { type: integer }
        skipped: { type: integer }
        unknown: { type: integer }

    BuildSummary:
      type: object
      properties:
        name: { type: string }
        status: { type: string }
        duration: { type: integer }
        user: { type: string }
        tags: { type: array, items: { type: string } }
        build_id: { type: string }
        original_name: { type: string }
        finished_at: { type: string, format: date-time }
        started_at: { type: string, format: date-time }
        status_stats:
          $ref: '#/components/schemas/StatusStats'
        build_number: { type: integer }
        is_archived: { type: boolean }
        observability_url: { type: string }
        tcm_test_run_identifier: { type: string }

    BuildDetailsSmartTags:
      type: object
      properties:
        is_flaky: { type: integer }
        is_always_failing: { type: integer }
        is_performance_anomaly: { type: integer }
        is_new_failure: { type: integer }
    BuildDetailsVcsInfo:
      type: object
      properties:
        name: { type: string }
        sha: { type: string }
        branch: { type: string }
    BuildDetailsCiInfo:
      type: object
      properties:
        job_name: { type: string }
        name: { type: string }
        build_number: { type: string }
        build_url: { type: string }
    BuildDetailsHostInfo:
      type: object
      properties:
        hostname: { type: string }
        os: { type: string }
    BuildDetails:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        status: { type: string }
        duration: { type: integer }
        user: { type: string }
        tags: { type: array, items: { type: string } }
        build_id: { type: string }
        build_number: { type: integer }
        original_name: { type: string }
        finished_at: { type: string, format: date-time }
        started_at: { type: string, format: date-time }
        status_stats:
          $ref: '#/components/schemas/StatusStats'
        failure_categories:
          type: object
          additionalProperties: { type: integer }
        smart_tags:
          $ref: '#/components/schemas/BuildDetailsSmartTags'
        is_archived: { type: boolean }
        observability_url: { type: string }
        vcs_info:
          $ref: '#/components/schemas/BuildDetailsVcsInfo'
        ci_info:
          $ref: '#/components/schemas/BuildDetailsCiInfo'
        host_info:
          $ref: '#/components/schemas/BuildDetailsHostInfo'

    TestRunsResponse:
      type: object
      properties:
        name: { type: string }
        project_id: { type: integer }
        build_id: { type: string }
        build_name: { type: string }
        build_number: { type: integer }
        test_summary:
          $ref: '#/components/schemas/StatusStats'
        is_archived: { type: boolean }
        hierarchy:
          type: array
          items:
            type: object
            additionalProperties: true
        pagination:
          $ref: '#/components/schemas/Pagination'

    ApplicableBuilds:
      type: object
      properties:
        all_builds: { type: boolean }
        build_tags: { type: array, items: { type: string } }
        build_names: { type: array, items: { type: string } }
    StartBuildFramework:
      type: object
      required: [name, version]
      properties:
        name: { type: string }
        version: { type: string }
    StartBuildHostInfo:
      type: object
      properties:
        hostname: { type: string }
        platform: { type: string }
        type: { type: string }
        version: { type: string }
        arch: { type: string }
    StartBuildCiInfo:
      type: object
      properties:
        name: { type: string }
        build_url: { type: string }
        url: { type: string }
        build_number: { type: string }
        job_name: { type: string }
    StartBuildVersionControl:
      type: object
      properties:
        name: { type: string }
        sha: { type: string }
        branch: { type: string }
        tag: { type: string }
        commit_message: { type: string }
        committer_email: { type: string }
        committer_name: { type: string }
    StartBuildRequest:
      type: object
      required: [name, project_name, started_at, framework]
      properties:
        name: { type: string, maxLength: 255 }
        project_name: { type: string, maxLength: 255 }
        started_at: { type: string, format: date-time }
        tags: { type: array, items: { type: string } }
        build_run_identifier: { type: string, maxLength: 64 }
        host_info:
          $ref: '#/components/schemas/StartBuildHostInfo'
        ci_info:
          $ref: '#/components/schemas/StartBuildCiInfo'
        version_control:
          type: object
          additionalProperties: true
        framework:
          $ref: '#/components/schemas/StartBuildFramework'

    StartTestRunRequest:
      type: object
      required: [name, file_name, scopes, started_at]
      properties:
        name: { type: string, maxLength: 500 }
        file_name: { type: string, maxLength: 1000 }
        scopes: { type: array, items: { type: string }, minItems: 1, maxItems: 20 }
        started_at: { type: string, format: date-time }
        tags: { type: array, items: { type: string } }
        location: { type: string, maxLength: 1000 }
        result: { type: string }
        custom_metadata: { type: object, additionalProperties: true }
        environment: { type: object, additionalProperties: true }

    FinishTestRunRequest:
      type: object
      required: [result, finished_at, file_name, scopes]
      properties:
        result: { type: string, enum: [passed, failed, skipped, timeout] }
        finished_at: { type: string, format: date-time }
        file_name: { type: string, maxLength: 1000 }
        scopes: { type: array, items: { type: string }, minItems: 1, maxItems: 20 }
        duration_in_ms: { type: integer }
        failure:
          type: array
          maxItems: 100
          items:
            type: object
            properties:
              error: { type: string }
              backtrace: { type: string }
        custom_metadata: { type: object, additionalProperties: true }
        environment: { type: object, additionalProperties: true }

    StartHookRunRequest:
      type: object
      required: [hook_type, name, file_name, scopes, started_at]
      properties:
        hook_type: { type: string, maxLength: 50 }
        name: { type: string, maxLength: 500 }
        file_name: { type: string, maxLength: 1000 }
        scopes: { type: array, items: { type: string }, minItems: 1, maxItems: 20 }
        started_at: { type: string, format: date-time }
        test_run_id: { type: string }
        tags: { type: array, items: { type: string } }
        location: { type: string, maxLength: 1000 }
        custom_metadata: { type: object, additionalProperties: true }

    FinishHookRunRequest:
      type: object
      required: [hook_type, result, finished_at, file_name, scopes]
      properties:
        hook_type: { type: string, maxLength: 50 }
        result: { type: string, enum: [passed, failed, skipped, timeout] }
        finished_at: { type: string, format: date-time }
        file_name: { type: string, maxLength: 1000 }
        scopes: { type: array, items: { type: string }, minItems: 1, maxItems: 20 }
        duration_in_ms: { type: integer }
        failure: { type: array, items: { type: object, additionalProperties: true } }
        custom_metadata: { type: object, additionalProperties: true }
        environment: { type: object, additionalProperties: true }

    BuildLog:
      type: object
      required: [kind, timestamp]
      properties:
        kind:
          type: string
          enum: [TEST_LOG, HTTP, TEST_SCREENSHOT, HOOK_LOG, TEST_STEP, TEST_ATTACHMENT]
        test_run_uuid: { type: string }
        hook_run_uuid: { type: string }
        timestamp: { type: string, format: date-time }
        level: { type: string, enum: [DEBUG, INFO, WARN, ERROR] }
        message: { type: string, maxLength: 10000 }
        duration: { type: integer }
        failure: { type: boolean }
        file_name: { type: string }
        file_size: { type: integer }

    QualityGateStatus:
      type: object
      properties:
        status: { type: string }
        build_uuid: { type: string }
        build_url: { type: string }
        quality_gate_result: { type: string, enum: [passed, failed, unknown, skipped, running] }
        quality_profiles:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              type: { type: string }
              result: { type: string }
              rules: { type: array, items: { type: object, additionalProperties: true } }

    QualityGateSettings:
      type: object
      properties:
        enabled: { type: boolean }
        should_override_build_status: { type: boolean }
        quality_profiles:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              rules_count: { type: integer }
              enabled: { type: boolean }
              is_global_profile: { type: boolean }

    QualityGateProfileRequest:
      type: object
      required: [name, enabled, is_global_profile, rules]
      properties:
        name: { type: string }
        enabled: { type: boolean }
        is_global_profile: { type: boolean }
        rules: { type: array, items: { type: object, additionalProperties: true } }
        applicable_builds:
          $ref: '#/components/schemas/ApplicableBuilds'
        rule_status: { type: string, enum: [pass, fail] }
        hooks_visibility: { type: string, enum: [failed, none, beforeFailed, all] }

    QualityGateProfile:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        enabled: { type: boolean }
        is_global_profile: { type: boolean }
        rules: { type: array, items: { type: object, additionalProperties: true } }
        applicable_builds:
          type: object
          additionalProperties: true
        rule_status: { type: string }
        hooks_visibility: { type: string }
